/* Default styles */

.navigation {
    background-color: #F5EFED;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px #CECECE;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 16px;
    height: 80px;
  }
  
  h1,
  h2,
  h3 {
    color: #7C8483;
  }
  
  .logo {
    width: 23%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .logoDisplay {
    display: inline-block;
  }
  
  nav {
    display: inline-block;
    margin: 10px;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    align-items: baseline;
  }
  
  li {
    display: inline-block;
    padding: 11px;
  }
  
  a {
    text-decoration: none;
    color: #422828;
  }
  
  a:visited {
    color: #373737;
  }
  
  button {
    background-color: #B53428;
    /* red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
  }
  
  body {
    background-color: #F5EFED;
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Helvetica', sans-serif;
    color: #422828;
    box-shadow: 0px 0px 10px #F5EFED;
  }
  
  .heroImg {
    text-align: center;
    height: 550px;
  }
  
  img {
    display: inline-block;
    width: 165px;
    height: auto;
    padding: 10px;
  }
  
  p {
    margin: 50px;
    font-size: small;
  }
  
  .myskills {
    text-align: center;
  }
  
  .skillscards {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .skillsimage {
    display: flex;
    justify-content: center;
  }
  
  .mywork {
    text-align: center;
    margin-bottom: 70px;
  }
  
  .workcards {
    display: grid;
    grid-template-areas: 
      "one_workcard two_workcard three_workcard";
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  }
  
  .one_workcard {
    grid-area: one_workcard;
  }
  
  .two_workcard {
    grid-area: two_workcard;
  }
  
  .three_workcard {
    grid-area: three_workcard;
  }
  
  .footerNav {
    background-color: #B53428;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 16px;
    height: 80px;
    font-family: 'Helvetica', sans-serif;
    color: white;
  }
  .footerNav a:link {
    color: white;
  }
  
  /* Media query for mobile devices */
  
  @media (max-width: 768px) {
    .logo {
      width: 40%;
    }
  
    li {
      padding: 5px;
    }
  
    .heroImg,
    .myskills,
    .mywork {
      height: auto;
    }
  
    img {
      width: 100px
    }  